.idea
.venv
*.log
python/block1/top_students.txt
python/block1/high_earners.txt
/python/block2.1/task1_env
/python/block2.2/task2_env
/python/block2.3/task3_env
/python/block2.4/task4_env
/python/block2.5/task5_env
/python/block2.6/task6_env
/python/block2.7/task7_env
/python/block2.10/task10_env
/python/block2.8/task8_env
/python/block2.9/task9_test
/linux/scraping/__pycache__
*/scraping/*.csv
*.pyc
ml/.ipynb_checkpoints/домашнее_задание-checkpoint.ipynb
/cv2/archive
/cv2/.ipynb_checkpoints
